<div>
  <p-orderList [value]="messageList">
    <ng-template let-message pTemplate="item">
      <div class="ui-helper-clearfix">
        <div
          style="font-size:14px;float:right;margin:15px 5px 0 0">
          {{message.sender}} - {{message.messageContent}} - {{message.sendDate}}
        </div>
      </div>
    </ng-template>
  </p-orderList>

  <input id="in" type="text" size="30" pInputText [(ngModel)]="messageText" />
  <button type="button" (click)="sendMessage()" pButton
          label="Send">Send</button>
</div>
